# Ignore Python virtual environments
backend/venv/

# Ignore environment files
.env
.env.*
!.env.example

backend/.env
backend/.env.*
!backend/.env.example

frontend/.env
frontend/.env.*
!frontend/.env.example

# Ignore compiled Python files
backend/__pycache__/

# Ignore SvelteKit build files
frontend/.svelte-kit/
frontend/build/
frontend/output/
frontend/.vercel/
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*

